-
- Yes, master. You're now my master. Set your password as 
- soon as possible, before someone does it for you. I will
- now obey all your commands. Join my partyline to learn
- more about me.
- 
- If you don't know how to join my partyline, you're lost.
